<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.filterable_android_sdk">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Filterableandroidsdk"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BannerViewActivity" />


        <!-- Other activities and components of your app -->

    </application>

</manifest>









<LinearLayout
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:orientation="vertical">

                    <TextView
                        android:id="@+id/titleText"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="Banner Title"
                        android:textSize="18sp"
                        android:textColor="@android:color/black"
                        android:textStyle="bold"
                        android:layout_marginBottom="8dp" />

                    <TextView
                        android:id="@+id/descriptionText"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:text="@string/card_description_character_description_is_a_type_of_writing_that_gives_the_reader_information_about_a_character_this_information_is_often_related_to_the_character_s_visual_appearanc"
                        android:textSize="14sp"
                        android:textColor="@android:color/black"
                        android:layout_marginBottom="8dp" />

                </LinearLayout>

                <LinearLayout
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:orientation="vertical">

                    <Space
                        android:layout_width="5dp"
                        android:layout_height="wrap_content" />

                    <ImageView
                        android:id="@+id/logoImageView"
                        android:layout_width="57dp"
                        android:layout_height="62dp"
                        android:layout_gravity="top|end"
                        android:contentDescription="Logo"
                        android:scaleType="centerCrop"
                        android:src="@drawable/placeholder_logo" />
                </LinearLayout>